/* CSS declarations go here */

@media only screen and (max-width: 600px) {
    .explanation-tiny-phone{
        display: none;
    }

    .main.menu .vanishing{
        display: none !important;
    }

    #menu-button{
        display: inline-block !important;
    }
}

@media only screen and (max-width: 700px) {
    .explanation-phone{
        display: none;
    }
}

@media only screen and (max-width: 880px) {
    .explanation-tablet{
        display: none;
    }
}

@media only screen and (max-width: @computerBreakpoint) {
    html.ios {
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
}

#menu-button{
    display: none;
}

.launch.item{
    cursor: pointer;
}

.header{
    padding-top: 60px;
}

.main.container{
    margin-left: 12px;
    margin-right: 12px;
}

div.pusher{
    background-color: red;
}

.gradient-main{
    background: linear-gradient(135deg, 
        rgb(125, 178, 203) 0%,
        rgb(204, 54, 54) 100%)
    !important;
}

.inverted.text{
    color: #FFF !important;
}

.blue2.button{
    background-color: #5E62B3;
    color: #FFF;
    text-shadow: none;
    background-image: none;
}

.inverted.menu .item.purple:hover{
    background-color: rgb(60, 35, 104) !important;
}

.inverted.menu .item.pink:hover{
    background-color: rgb(104, 36, 107) !important;
}

a{
    color: #dd0000;
}

.padded.footer{
    padding: 12px;
}

.portfolio article{
    margin-bottom: 15px;
}
