<template name="home">
    <div class="ui page grid">
        <div class="two column centered row">
            <div class="column center aligned">
                <h1 class="ui header">Josh Powers</h1>
            </div>
        </div>

        <div class="three column centered row">
            <div class="column center aligned">
                <p>{{randomQuote}}</p>
            </div>
            <div class="column center aligned">
                <p>{{hack}}</p>
            </div>
        </div>

        {{> blogPosts}}
    </div>   
</template>
