<template name="nav">
  <div class="ui inverted fixed main menu">
    <div class="container">
        {{#if isInRole 'admin'}}
            <a class="launch item" id="menu">
                <i class="bars icon"></i> Menu
            </a>
        {{else}}
            <a class="item popup" href="{{pathFor route='default'}}" data-content="Home">
                <i class="home icon"></i><span class="explanation-tablet"> Home</span>
            </a>

            <a class="item popup" href="https://github.com/sabarjp" data-content="View my code repositories">
                <i class="github icon"></i><span class="explanation-tablet"> GitHub</span>
            </a>

            <a class="item popup" href="https://www.flickr.com/photos/16474390@N07/sets" data-content="View my photography">
                <i class="flickr icon"></i><span class="explanation-tablet"> Flickr</span>
            </a>

            <a class="item popup" href="{{pathFor route='portfolio'}}" data-content="My coding portfolio">
                <i class="suitcase icon"></i><span class="explanation-phone"> Portfolio</span>
            </a>

            <a class="item popup" href="{{pathFor route='resume'}}" data-content="My resume">
                <i class="file text icon"></i><span class="explanation-phone"> Resume</span>
            </a>

            <a class="item popup" href="{{pathFor route='fun'}}" data-content="Fun coding side projects">
                <i class="fork icon"></i><span class="explanation-phone"> Fun</span>
            </a>
        {{/if}}

        {{#if currentUser}}
            <div class="right menu">
                {{> logout}}
            </div>
        {{/if}}
    </div>
  </div>
</template>

<template name="sidebar">
    <div class="ui left vertical inverted labeled icon sidebar menu uncover" id="sidebar">
        <a class="item" href="{{pathFor route='default'}}">
            <i class="home icon"></i> Home
        </a>
        
        {{#if isInRole 'admin'}}
            <a class="item" href="{{pathFor route='newPost'}}">
                <i class="write icon"></i> New Post
            </a>
        {{/if}}

        <a class="item" href="https://github.com/sabarjp">
            <i class="github icon"></i> GitHub
        </a>

        <a class="item" href="https://www.flickr.com/photos/16474390@N07/sets">
            <i class="flickr icon"></i> Flickr
        </a>

        <a class="item" href="{{pathFor route='portfolio'}}">
            <i class="suitcase icon"></i> Portfolio
        </a>

        <a class="item" href="{{pathFor route='resume'}}">
            <i class="file text icon"></i> Resume
        </a>

        <a class="item" href="{{pathFor route='fun'}}">
            <i class="fork icon"></i> Fun
        </a>
    </div>
</template>