<template name="page">
    {{> blogPosts}}
</template>

<template name="blogPosts">
    <section id="blog-posts">
        {{#if currentUser}}
            <div>
                <a href="{{pathFor route='newPost'}}" class="ui button"><i class="add icon"></i> New post</a>
            </div>
        {{/if}}

        {{#each posts}}
            {{> post}}
        {{/each}}

        <div>
            {{postCount}} total posts - 
            Page {{pageNumber}} of {{pageCount}}


            {{#if lessPagesAvailable}}
                 - <a href="{{pathFor route='page' pageNumber=previousPageNumber}}">View newer posts</a>
            {{/if}}

            {{#if morePagesAvailable}}
                 - <a href="{{pathFor route='page' pageNumber=nextPageNumber}}">View older posts</a>
            {{/if}}            
        </div>
    </section>
</template>