<template name="resume">
    <div class="ui page grid">
        <div class="sixteen wide column">
            <h1 class="ui inverted header">Resume</h1>
        </div>

        <div class="sixteen wide column">
            <p class="ui message">Resume also available in <a href="/resumefiles/resume.pdf">PDF</a> and <a href="/resumefiles/resume.docx">DOCX</a> formats.</p>
        </div>

        <div class="sixteen wide column">
            <div class="ui segment" id="resume-area"></div>
        </div>
    </div>
</template>