<template name="applicationLayout">
    <head>
        <title>Josh Powers</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body class="pushable" ontouchstart="">
        {{> sidebar}}
        {{> nav}}
        {{> spinner}}
    
        <div class="pusher gradient-main">
            <div class="header"></div>

            <div class="main container">
                {{> yield }}
            </div>

            <footer class="ui inverted header right aligned">
                <p class="padded footer">
                    Joshua Powers - 2015
                </p>
            </footer>
        </div>
    </body>
</template>